:host {
  display: grid;
  grid-gap: 1em;
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;

  .title {
    font-size: 1.5em;
  }
}

form {
  display: flex;
  flex-direction: column;
}
