<mat-card>
  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Operation default currency</mat-label>
      <currency-input formControlName="operationDefaultCurrency"></currency-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Operation default account</mat-label>
      <reference-input api="/account/reference?type=ACCOUNT" formControlName="operationDefaultAccount"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Operation cash account</mat-label>
      <reference-input api="/account/reference?type=ACCOUNT" formControlName="operationCashAccount"></reference-input>
    </mat-form-field>

  </form>
</mat-card>
