<mat-card class="toolbar">
  <div class="title">Import</div>
  <button mat-icon-button (click)="save()" [disabled]="!form.valid">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-card>

<mat-card>

  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Account</mat-label>
      <reference-input api="/account/reference" formControlName="account"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Template</mat-label>
      <reference-input api="/import-data/reference" formControlName="template"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>File</mat-label>
      <file-input formControlName="file"></file-input>
    </mat-form-field>

  </form>

</mat-card>
