.selection {
  width: 80vw;
  height: 90vh;

  .search {
    margin: 10px 10px 0 10px;
  }

  .list {
    overflow-y: auto;
    flex-grow: 1;

    .hidden {
      display: none;
    }
  }

  .buttons {
    display: flex;
    margin: 10px;

    .filler {
      flex-grow: 1;
    }
  }
}

.selection-desktop {
  min-width: 300px;
  max-width: 500px;
  min-height: 50vh;
  max-height: 80vh;
}
