<mat-chip-listbox>
  @for (reference of value; track reference.id) {
    <mat-chip-option>{{reference.name}}</mat-chip-option>
  }
</mat-chip-listbox>
<ng-template cdkPortal>
  <mat-card class="selection" [class.selection-desktop]="adaptiveService.desktop">
    <mat-form-field class="search">
      <mat-label>Search</mat-label>
      <input matInput (input)="onSearch($event)">
    </mat-form-field>
    <mat-selection-list class="list">
      @for (reference of filteredReferences; track reference.id) {
        <mat-list-option [value]="reference" [selected]="isSelected(reference)">{{reference.name}}</mat-list-option>
      }
    </mat-selection-list>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="applySelection()">Apply</button>
    </div>
  </mat-card>
</ng-template>
