<editor title="Import" (onSave)="save()" (onClose)="close()">
  <mat-card *ngIf="importData">
    <mat-card-content>
      <mat-action-list>
        <button mat-list-item (click)="openEntry(entry)" *ngFor="let entry of importData.entries">

          <div class="line">

            <div *ngIf="entry.result == null"></div>
            <mat-icon matListItemIcon class="success" *ngIf="entry.result == true">check_circle</mat-icon>
            <mat-icon matListItemIcon class="fail" *ngIf="entry.result == false">cancel</mat-icon>

            <document-label [document]="entry.suggested"
                            [disabled]="entry.skip"></document-label>

            <mat-icon *ngIf="entry.forRemove">arrow_right_alt</mat-icon>

            <document-label *ngIf="entry.forRemove"
                            [document]="entry.forRemove"
                            [disabled]="entry.skip"></document-label>

          </div>

        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
</editor>
