:host {
  display: grid;
  height: 100%;
  grid-template-columns: 20em 1fr;
  grid-gap: 1em;
}
//
//.header {
//  mat-card-header {
//    padding: 16px;
//    display: grid;
//    grid-auto-flow: column;
//    grid-template-columns: 1fr;
//    align-items: center;
//  }
//}

.entries {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;
  overflow: hidden;

  mat-action-list {
    height: 100%;
    overflow-y: auto;
  }
}

.view {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-gap: 1em;
  width: 100%;
  overflow: hidden;
}

.error {
  mat-card-content {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1em;
    align-items: center;
  }
}

.raw {
  width: 100%;
  overflow: hidden;
  mat-card-content {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}
