.import-data {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: 1em;
}

.import-data-entries {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
}

.entry-imported {
  text-decoration: line-through;
  opacity: .5;
}

.line {
  display: grid!important;
  grid-template-columns: 2.5em 50% 50%;
  align-items: center;

  mat-checkbox {
    justify-self: center;
  }
}

.suggested {
  cursor: pointer;
  user-select: none;
}
