:host {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
}

.total-and-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.fast-actions {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
}

.totals {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    text-align: center;
  }

  h5 {
    text-align: center;
  }
}

.expense {
  background-color: #ef5350!important;
  color: #fff!important;
}

.exchange {
  background-color: #1e88e5!important;
  color: #fff!important;
}
