@use "../../../../variables";

:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.cash {
  width: 10em;
}

.button-section {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

  .title {
    grid-column: 1 / 4;
  }

  button {
    width: 7em;
    height: 5em;
  }
}

.expense {
  background-color: variables.$expense-color!important;
  color: #fff!important;
}

.exchange {
  background-color: variables.$exchange-color!important;
  color: #fff!important;
}

.report {
  background-color: variables.$report-color!important;
}



.total-and-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.fast-actions {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
}

.totals {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    text-align: center;
  }

  h5 {
    text-align: center;
  }
}

