.content {
  max-height: 100vh;
  height: 100%;
}

.filter-node {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filler {
  flex-grow: 1;
}

.filter-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.filter-tree div[role=group] > .filter-node {
  padding-left: 40px;
}

.negate {
  margin-right: 10px;
}
