:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1em;
}

.chart-header {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.expense {
  color: #ef5350;
}

.income {
  color: #66bb6a;
}
