@use "../../../../variables";

:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1em;
}

.chart-header {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;

  mat-slide-toggle {
    margin-bottom: 1em;
  }
}

.hidden {
  display: none;
}

.expense {
  color: variables.$expense-color;
}

.income {
  color: variables.$income-color;
}
