@use "../../../../variables";

:host {
  overflow: hidden;
  margin: 20px;
}

common-layout {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 20px;
  overflow: hidden;
}

.chart {
  display: grid;
  align-items: center;
  overflow: auto;

  .date {
    white-space: nowrap;
  }
  .date:not(:first-child) {
    margin-top: 20px;
  }

  .group {
    display: grid;
    grid-gap: 2px;
  }
}

.entry {
  position: relative;
  width: 100%;
  cursor: pointer;

  .bar {
    height: 20px;
    border-radius: 5px;
  }

  .name {
    white-space: nowrap;
    line-height: 13px;
    font-size: 10px;
    color: gray;
  }

  .value {
    position: absolute;
    bottom: 0;
    padding: 0 5px;
  }
}

.expense {
  color: variables.$expense-color;
}

.income {
  color: variables.$income-color;
}
