<mat-card>

  <mat-card-content>

    <mat-button-toggle-group [(ngModel)]="operation.type">
      <mat-button-toggle [value]="'EXCHANGE'">Exchange</mat-button-toggle>
      <mat-button-toggle [value]="'TRANSFER'">Transfer</mat-button-toggle>
      <mat-button-toggle [value]="'EXPENSE'">Expense</mat-button-toggle>
      <mat-button-toggle [value]="'INCOME'">Income</mat-button-toggle>
    </mat-button-toggle-group>

    <form [formGroup]="exchange" *ngIf="operation.type == 'EXCHANGE'">

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" readonly (click)="picker.open()">
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>From</mat-label>
        <account-input formControlName="accountFrom"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <amount-input formControlName="amountFrom"></amount-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To</mat-label>
        <account-input formControlName="accountTo"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <amount-input formControlName="amountTo"></amount-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput
                  formControlName="description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>

    </form>

    <form [formGroup]="transfer" *ngIf="operation.type == 'TRANSFER'">

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" readonly (click)="picker.open()">
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>From</mat-label>
        <account-input [types]="['ACCOUNT']" formControlName="accountFrom"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To</mat-label>
        <account-input [types]="['ACCOUNT']" formControlName="accountTo"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <amount-input formControlName="amount"></amount-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput
                  formControlName="description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>

    </form>

    <form [formGroup]="expenseIncome" *ngIf="operation.type == 'EXPENSE' || operation.type == 'INCOME'">

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" readonly (click)="picker.open()">
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Account</mat-label>
        <account-input [types]="['ACCOUNT']" formControlName="account"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <account-input [types]="[operation.type]" formControlName="category"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <amount-input formControlName="amount"></amount-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput
                  formControlName="description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>

    </form>

  </mat-card-content>
</mat-card>
