<div class="form">

  <mat-button-toggle-group [(ngModel)]="_operation.type">
    <mat-button-toggle [value]="'EXCHANGE'">Exchange</mat-button-toggle>
    <mat-button-toggle [value]="'TRANSFER'">Transfer</mat-button-toggle>
    <mat-button-toggle [value]="'EXPENSE'">Expense</mat-button-toggle>
    <mat-button-toggle [value]="'INCOME'">Income</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input [(ngModel)]="_operation.date" matInput [matDatepicker]="picker" readonly (click)="picker.open()">
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <ng-container *ngIf="_operation.type == 'EXCHANGE'">
    <mat-form-field>
      <mat-label>From</mat-label>
      <account-input [(ngModel)]="_operation.accountFrom"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input [(ngModel)]="_operation.amountFrom"></amount-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <account-input [(ngModel)]="_operation.accountTo"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input [(ngModel)]="_operation.amountTo"></amount-input>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="_operation.type == 'TRANSFER'">
    <mat-form-field>
      <mat-label>From</mat-label>
      <account-input [types]="['ACCOUNT']" [(ngModel)]="_operation.accountFrom"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <account-input [types]="['ACCOUNT']" [(ngModel)]="_operation.accountTo"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input [ngModel]="_operation.amountFrom" (ngModelChange)="onChangeAmountFrom($event)"></amount-input>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="_operation.type == 'EXPENSE'">
    <mat-form-field>
      <mat-label>From</mat-label>
      <account-input [types]="['ACCOUNT']" [(ngModel)]="_operation.accountFrom"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <account-input [types]="['EXPENSE']" [(ngModel)]="_operation.accountTo"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input [ngModel]="_operation.amountFrom" (ngModelChange)="onChangeAmountFrom($event)"></amount-input>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="_operation.type == 'INCOME'">
    <mat-form-field>
      <mat-label>Account</mat-label>
      <account-input [types]="['ACCOUNT']" [(ngModel)]="_operation.accountTo"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <account-input [types]="['INCOME']" [(ngModel)]="_operation.accountFrom"></account-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input [ngModel]="_operation.amountFrom" (ngModelChange)="onChangeAmountFrom($event)"></amount-input>
    </mat-form-field>
  </ng-container>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput
              [(ngModel)]="_operation.description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"></textarea>
  </mat-form-field>

</div>
