:host {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 4px 10px;
}

.label {
  font-size: 7px;
  line-height: 7px;
}

.value {
  white-space: nowrap;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
