:host {

}

form {
  display: flex;
  flex-direction: column;
}

.view {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
  height: 100%;
}

.dates {
  overflow: hidden;

  mat-card-content {
    overflow-y: auto;
  }
}

.entries {
  overflow: hidden;

  mat-list {
    overflow-y: auto;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    operation-label,
    import-data-parsed-entry {
      cursor: pointer;
    }
  }
}
