<toolbar-content title="Operation Revise">
  @if (id) {
    <toolbar-button name="Revise" icon="difference" (click)="repeatRevise()"></toolbar-button>
    <toolbar-button name="Close" icon="close" (click)="close()"></toolbar-button>
  } @else {
    <toolbar-button name="Save" icon="done" (click)="save()"></toolbar-button>
    <toolbar-button name="Close" icon="close" (click)="close()"></toolbar-button>
  }
</toolbar-content>

<mat-card *ngIf="operationRevise?.id == null">
  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field>
        <mat-label>From</mat-label>
        <input formControlName="dateFrom" matInput [matDatepicker]="from" readonly (click)="from.open()">
        <mat-datepicker touchUi #from></mat-datepicker>
        <button mat-icon-button matSuffix (click)="form.patchValue({dateFrom: null})"><mat-icon>close</mat-icon></button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To</mat-label>
        <input formControlName="dateTo" matInput [matDatepicker]="to" readonly (click)="to.open()">
        <mat-datepicker touchUi #to></mat-datepicker>
        <button mat-icon-button matSuffix (click)="form.patchValue({dateTo: null})"><mat-icon>close</mat-icon></button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Currency</mat-label>
        <currency-input formControlName="currency"></currency-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Account</mat-label>
        <account-input [types]="['ACCOUNT']" formControlName="account"></account-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parser</mat-label>
        <reference-input api="/parser/reference" formControlName="parser"></reference-input>
      </mat-form-field>

      <mat-form-field>
        <mat-label>File</mat-label>
        <file-input formControlName="file"></file-input>
      </mat-form-field>

    </form>
  </mat-card-content>
</mat-card>

<div *ngIf="operationRevise" class="view">
  <mat-card class="dates">
    <mat-card-header>
      <mat-slide-toggle [ngModel]="hideMatched" (ngModelChange)="toggleHideMatched()">Hide matched</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="showHidden">Show hidden</mat-slide-toggle>
    </mat-card-header>
    <mat-card-content>
      <mat-action-list>
        <button mat-list-item *ngFor="let date of dates()" (click)="selectDate(date)">
          <span class="row" [class.hidden]="date.hidden">
            <mat-icon [class.hide]="!date.revised">done</mat-icon>
            <date-label [date]="date.date"></date-label>
          </span>
        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="entries" *ngIf="date">
    <mat-list>
      <mat-list-item *ngFor="let entry of entries">
        <span class="row">
          <operation-label *ngIf="entry.operation"
                           [operation]="entry.operation"
                           [matMenuTriggerFor]="menu"
                           matRipple>
          </operation-label>
          <mat-menu #menu>
            <button mat-menu-item (click)="editOperation(entry.operation)">Edit</button>
            <button mat-menu-item (click)="deleteOperation(entry)">Delete</button>
          </mat-menu>
          <span *ngIf="!entry.operation"></span>
          <import-data-parsed-entry *ngIf="entry.parsedEntry"
                                    [parsedEntry]="entry.parsedEntry"
                                    [hideAccounts]="true"
                                    [hideDescription]="true"
                                    [hideRawEntries]="true"
                                    [hideType]="true"
                                    (click)="viewParsedEntry(entry)"
                                    matRipple>
          </import-data-parsed-entry>
          <span *ngIf="!entry.parsedEntry"></span>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <fab-group>
    <button mat-mini-fab (click)="toggleDateVisibility()"><mat-icon>visibility</mat-icon></button>
    <button mat-fab (click)="addOperation()"><mat-icon>add</mat-icon></button>
  </fab-group>

</div>

