<div class="badges">
  <badge label="Type" *ngIf="!hideType">{{parsedEntry.type}}</badge>
  <badge label="Date">{{parsedEntry.date}}</badge>
  <badge label="Description" *ngIf="!hideDescription" [matTooltip]="parsedEntry.description">{{parsedEntry.description}}</badge>
  <badge label="Account from" *ngIf="!hideAccounts && parsedEntry.accountFrom">{{parsedEntry.accountFrom.name}}</badge>
  <badge label="Account to" *ngIf="!hideAccounts && parsedEntry.accountTo">{{parsedEntry.accountTo.name}}</badge>
  <badge label="Amount from">
    <amount-label [amount]="parsedEntry.amountFrom"></amount-label>
  </badge>
  <badge label="Amount to">
    <amount-label [amount]="parsedEntry.amountTo"></amount-label>
  </badge>
</div>
<div class="raw-entries" *ngIf="!hideRawEntries">
  <div class="" *ngFor="let row of parsedEntry.rawEntries">{{row}}</div>
</div>
