<mat-card>
  <mat-card-header class="browser-header">
    <mat-card-title>Documents</mat-card-title>
    <button mat-icon-button (click)="load()"><mat-icon>done</mat-icon></button>
  </mat-card-header>
</mat-card>

<mat-expansion-panel #filter>
  <mat-expansion-panel-header>
    <mat-panel-title>Filters</mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="settings()">
    <mat-form-field>
      <mat-label>From</mat-label>
      <input formControlName="dateFrom" matInput [matDatepicker]="from" readonly (click)="from.open()">
      <mat-datepicker touchUi #from></mat-datepicker>
      <button mat-icon-button matSuffix (click)="settings().patchValue({dateFrom: null})">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <input formControlName="dateTo" matInput [matDatepicker]="to" readonly (click)="to.open()">
      <mat-datepicker touchUi #to></mat-datepicker>
      <button mat-icon-button matSuffix (click)="settings().patchValue({dateTo: null})">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <reference-input formControlName="type" [references]="types"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-optgroup label="Expenses">
          <mat-option *ngFor="let expenseCategory of expenseCategories" [value]="expenseCategory.id">{{expenseCategory.name}}</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Incomes">
          <mat-option *ngFor="let incomeCategory of incomeCategories" [value]="incomeCategory.id">{{incomeCategory.name}}</mat-option>
        </mat-optgroup>
      </mat-select>
      <button matSuffix mat-icon-button (click)="toggleAllCategories()"><mat-icon>checklist</mat-icon></button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Account</mat-label>
      <reference-input api="/account/reference" formControlName="account"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Currency</mat-label>
      <currency-input formControlName="currency"></currency-input>
    </mat-form-field>
  </form>

  <mat-paginator [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 [pageIndex]="documentPage().page"
                 [length]="documentPage().total"
                 (page)="onPage($event)"></mat-paginator>

</mat-expansion-panel>

<mat-card *ngIf="documentPage().documents.length > 0">
  <mat-action-list>
    <button mat-list-item [mat-menu-trigger-for]="menu" *ngFor="let document of documentPage().documents" [matMenuTriggerFor]="menu">
      <document-label [document]="document"></document-label>
      <mat-menu #menu>
        <button mat-menu-item (click)="copy(document.value.id!)">Copy</button>
        <button mat-menu-item (click)="edit(document.value.id!)">Edit</button>
        <button mat-menu-item (click)="delete(document.value.id!)">Delete</button>
      </mat-menu>
    </button>
  </mat-action-list>
</mat-card>

<button class="fab" mat-fab (click)="select.show()">
  <mat-icon>add</mat-icon>
</button>

<entry-select #select (select)="add($event)">
  <entry-item [value]="'expense'">Expense</entry-item>
  <entry-item [value]="'income'">Income</entry-item>
  <entry-item [value]="'exchange'">Exchange</entry-item>
</entry-select>
