<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let document of documents">
      <div matLine class="mat-line-with-menu">
        <document-label [document]="document"></document-label>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
          <button mat-menu-item (click)="edit(document.value.id)">Edit</button>
          <button mat-menu-item (click)="delete(document.value.id)">Delete</button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<button class="fab" mat-fab (click)="select()">
  <mat-icon>add</mat-icon>
</button>

<div class="select" *ngIf="selection" (click)="selection = false">
  <mat-card (click)="$event.stopPropagation()">
    <mat-action-list>
      <button mat-list-item (click)="add('expense')">Expense</button>
      <button mat-list-item (click)="add('income')">Income</button>
      <button mat-list-item (click)="add('exchange')">Exchange</button>
    </mat-action-list>
  </mat-card>
</div>
