:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

.chart-card {
  //padding: 0!important;
}

.chart {
  height: 40em;
}
