<edit-toolbar title="Expense" [save]="save"></edit-toolbar>

<mat-card>

  <form [formGroup]="document">

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Account</mat-label>
      <reference-input api="/account/reference" formControlName="account"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Income category</mat-label>
      <reference-input api="/income/reference" formControlName="incomeCategory"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input formControlName="amount"></amount-input>
    </mat-form-field>

  </form>

</mat-card>
