<mat-card class="toolbar">
  <div class="title">Exchange rate</div>
  <button mat-icon-button (click)="save()" [disabled]="!form.valid">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-card>

<mat-card>

  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" (click)="picker.open()" readonly>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select formControlName="from">
        <mat-option *ngFor="let currency of settingsService.settings.currencies" [value]="currency">{{currency}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select formControlName="to">
        <mat-option *ngFor="let currency of settingsService.settings.currencies" [value]="currency">{{currency}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput formControlName="value" type="number">
    </mat-form-field>

  </form>

</mat-card>
