:host {
  margin: 20px;
  overflow: hidden;
}

form {
  overflow: auto;
}

.step {
  display: flex;
  flex-direction: column;
}

.step:first-child {
  margin-top: 20px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.totals {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.incomes {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}
