@if (value == null) {
  <badge>Empty</badge>
} @else {
  @switch (type) {
    @case ('ID') {
      <badge [matTooltip]="value">ID</badge>
    }
    @case ('DATE') {
      {{value ? (value | date: "YYYY-MM-dd") : ""}}
    }
    @case ('JSON') {
      <badge [matTooltip]="value">JSON</badge>
    }
    @case ('AMOUNT') {
      <amount-label [amount]="value"></amount-label>
    }
    @case ('REFERENCE') {
      <badge [matTooltip]="value.id + ' - ' + value.name">{{value.name}}</badge>
    }
    @default {
      {{value}}
    }
  }
}
