@use '../../../../variables';

:host {
  overflow: hidden;
  margin: 20px;
}

common-layout {
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
}

.chart {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0 20px;
  overflow: auto;
}

.title {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.title:not(:first-child) {
  margin-top: 20px;
}

.account {
  margin: 0;
}

.revised {
  font-size: 0.8em;
  white-space: nowrap;

  .warn {
    background-color: #ffca28;
    padding: .4em;
    border-radius: .6em;
  }
}

.bar {
  height: 2em;
  border-radius: .2em;
  background-color: variables.$exchange-color;
}
