@use '../../../../variables';

:host {
  margin: 20px;
}

.funds {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-gap: .5px;
}

.account {
  grid-column: 1 / 3;
  margin-bottom: .2em;
}
.account:not(:first-child) {
  margin-top: .4em;
}

.revised {
  grid-column: 3 / 4;
  justify-self: end;
  align-self: center;
  font-size: 0.8em;

  .warn {
    background-color: #ffca28;
    padding: .4em;
    border-radius: .6em;
  }
}

.common-amount {
  opacity: .4;
  padding: 0 1em;
}

.bar {
  height: 2em;
  border-radius: .2em;
  background-color: variables.$exchange-color;
}
