@use "../../../../variables";

.name {
  user-select: none;
}

.hide {
  opacity: 0;
}

mat-action-list {
  max-height: 70vh;
  min-width: 16em;
  overflow-y: auto;
}

.gray-backdrop {
  background-color: #00000070;
}

.expense {
  color: variables.$expense-color!important;
}

.income {
  color: variables.$income-color!important;
}
