<mat-card class="toolbar">
  <div class="title">Expense</div>
  <button mat-icon-button (click)="save()" [disabled]="!form.valid">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-card>

<mat-card *ngIf="hint">
  <mat-card-content>
    <p>{{hint}}</p>
  </mat-card-content>
</mat-card>

<mat-card>

  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Account</mat-label>
      <reference-input api="/account/reference" formControlName="account"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Expense category</mat-label>
      <reference-input api="/expense/reference" formControlName="expenseCategory"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <amount-input formControlName="amount"></amount-input>
    </mat-form-field>

  </form>

</mat-card>
