<editor title="Expense" (onSave)="save()" (onClose)="close()" [saveDisabled]="!form.valid">

  <mat-card *ngIf="hint">
    <mat-card-content>
      <p>{{hint}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content class="card-content-form">
      <form [formGroup]="form">

        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" (click)="picker.open()" readonly>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Account</mat-label>
          <reference-input api="/account/reference" formControlName="account"></reference-input>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Expense category</mat-label>
          <reference-input api="/expense/reference" formControlName="expenseCategory"></reference-input>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Amount</mat-label>
          <amount-input formControlName="amount"></amount-input>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
                    formControlName="description"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"></textarea>
        </mat-form-field>

      </form>
    </mat-card-content>
  </mat-card>

</editor>
