common-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense {
  display: flex;
  gap: 10px;
  align-items: center;

  .amount {
    display: flex;
    width: min(20vw, 150px);
    flex-direction: column;
  }

  .comment {
    overflow: hidden;
    text-overflow: ellipsis;
    width: min(100px, 20vw);
  }
}
