@use '../../../../variables';

:host {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 1rem;
  height: 100%;
  overflow: hidden;
}

.preparation-error {
  background-color: #fbc02d;
}

.import-error {
  background-color: #d32f2f;
}

.import-done {
  background-color: #388e3c;
}

.entries-card {
  overflow: hidden;

  mat-tab-group {
    overflow: hidden;
  }
}

.entries {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;

  mat-action-list {
    overflow-y: auto;

    .marker {
      display: inline-block;
      width: .2rem;
      height: 3rem;
      border-radius: .2rem;
      margin-right: 0;
    }

    .option-icon {
      margin-left: 4px;
      margin-right: 4px;
    }

    .no-suggestion {
      display: flex;
      flex-direction: column;
    }

    .mdc-list-item.mdc-list-item--with-one-line {
      height: 4rem;
    }

    .skip {
      opacity: .5;
    }
  }
}

.filter {
  padding: 1rem;

  form {
    display: grid;
  }
}

.entry {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  .in-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.error-content {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.suggested-operation {
  mat-card-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    .operation-label {
      flex-grow: 1;
    }
  }
}

.parsed-entry {
  overflow: visible;
}

.additional-info {
  display: flex;
  gap: 1rem;

  mat-card-subtitle {
    color: rgba(0,0,0,.87);
  }
}

.similar-operations {
  flex-grow: 1;
}

.category-mappings {
  flex-grow: 1;

  .row {
    display: flex;
    flex-direction: row;

    category-mapping-label {
      flex-grow: 1;
    }
  }
}
