<mat-card class="entries-card">
  <mat-tab-group [(selectedIndex)]="tabIndex">

    <mat-tab label="Entries">
      <div class="entries">
        <mat-action-list>
          <button mat-list-item
                  *ngFor="let entry of importDataEntryPage.entries"
                  (click)="viewEntry(entry)" [class.skip]="entry.preparationResult && entry.option == 'SKIP'">
            <span matListItemIcon class="marker"
                  [class.preparation-error]="!entry.preparationResult"
                  [class.import-error]="entry.importResult == 'FAILED'"
                  [class.import-done]="entry.importResult == 'DONE'"></span>
            <mat-icon class="option-icon" matListItemIcon>
              <ng-container *ngIf="entry.preparationResult && entry.option == 'NONE'">question_mark</ng-container>
              <ng-container *ngIf="entry.preparationResult && entry.option == 'CREATE_NEW'">add</ng-container>
              <ng-container *ngIf="entry.preparationResult && entry.option == 'REPLACE'">edit</ng-container>
            </mat-icon>
            <operation-label *ngIf="entry.suggestedOperation" [operation]="entry.suggestedOperation"></operation-label>
            <span class="no-suggestion" *ngIf="!entry.suggestedOperation">
              <span>{{entry.parsedEntry.date}}</span>
              <span>{{entry.parsedEntry.description}}</span>
            </span>
          </button>
        </mat-action-list>
        <mat-paginator [hidePageSize]="true"
                       [showFirstLastButtons]="true"
                       [pageSize]="importDataEntryPage.size"
                       [pageIndex]="importDataEntryPage.page"
                       [length]="importDataEntryPage.total"
                       (page)="onPage($event)"
        ></mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="Filter">
      <div class="filter">
        <form [formGroup]="importDataEntryFilter">
<!--          <mat-form-field>-->
<!--            <mat-label>Suggested operation type</mat-label>-->
<!--            <mat-select formControlName="operationType">-->
<!--              <mat-option [value]="null">Nothing</mat-option>-->
<!--              <mat-option [value]="'EXCHANGE'">Exchange</mat-option>-->
<!--              <mat-option [value]="'TRANSFER'">Transfer</mat-option>-->
<!--              <mat-option [value]="'EXPENSE'">Expense</mat-option>-->
<!--              <mat-option [value]="'INCOME'">Income</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
          <mat-form-field>
            <mat-label>Preparation result</mat-label>
            <mat-select formControlName="preparationResult">
              <mat-option [value]="null">Nothing</mat-option>
              <mat-option [value]="false">Not prepared</mat-option>
              <mat-option [value]="true">Prepared</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Option</mat-label>
            <mat-select formControlName="option">
              <mat-option [value]="null">Nothing</mat-option>
              <mat-option [value]="'NONE'">None</mat-option>
              <mat-option [value]="'SKIP'">Skip</mat-option>
              <mat-option [value]="'CREATE_NEW'">Add</mat-option>
              <mat-option [value]="'REPLACE'">Replace</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle formControlName="hideSkip">Hide skip</mat-slide-toggle>
          <mat-form-field>
            <mat-label>Import result</mat-label>
            <mat-select formControlName="importResult">
              <mat-option [value]="null">Nothing</mat-option>
              <mat-option [value]="'NOT_IMPORTED'">Not imported</mat-option>
              <mat-option [value]="'DONE'">Done</mat-option>
              <mat-option [value]="'FAILED'">Failed</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="filter()">Filter</button>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-card>

<div *ngIf="!importDataEntry"></div>
<div *ngIf="importDataEntry" class="entry">
  <div class="in-progress" *ngIf="isInProgress()"></div>

  <mat-card *ngIf="!importDataEntry.preparationResult && importDataEntry.preparationError" class="preparation-error">
    <mat-card-content class="error-content">
      <mat-icon>warning</mat-icon>
      {{importDataEntry.preparationError}}
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="importDataEntry.importResult == 'FAILED' && importDataEntry.importError" class="import-error">
    <mat-card-content class="error-content">
      <mat-icon>warning</mat-icon>
      {{importDataEntry.importError}}
    </mat-card-content>
  </mat-card>

  <mat-card class="suggested-operation">
    <mat-card-content>
      <button mat-button
              *ngIf="!importDataEntry.suggestedOperation"
              (click)="viewOperation()">Suggest operation</button>
      <operation-label *ngIf="importDataEntry.suggestedOperation"
                       [operation]="suggestedOperation()"
                       (click)="viewOperation()"></operation-label>
      <div class="spacer"></div>
      <mat-slide-toggle [ngModel]="importDataEntry.preparationResult"
                        [disabled]="importDataEntry.importResult == 'DONE'"
                        (ngModelChange)="updatePreparationResult($event)">
        <span *ngIf="importDataEntry.preparationResult">Prepared</span>
        <span *ngIf="!importDataEntry.preparationResult">Not prepared</span>
      </mat-slide-toggle>
      <mat-button-toggle-group *ngIf="importDataEntry.preparationResult && importDataEntry.suggestedOperation"
                               [ngModel]="importDataEntry.option"
                               [disabled]="importDataEntry.importResult == 'DONE'"
                               (ngModelChange)="updateOption($event)">
        <mat-button-toggle value="NONE">None</mat-button-toggle>
        <mat-button-toggle value="SKIP">Skip</mat-button-toggle>
        <mat-button-toggle value="CREATE_NEW">Add</mat-button-toggle>
        <mat-button-toggle value="REPLACE">Replace</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel class="parsed-entry">
    <mat-expansion-panel-header>Parsed entry</mat-expansion-panel-header>
    <import-data-parsed-entry [parsedEntry]="importDataEntry.parsedEntry"></import-data-parsed-entry>
  </mat-expansion-panel>

  <div class="additional-info">
    <mat-card class="similar-operations">
      <mat-card-header>
        <mat-card-subtitle>
          Similar operations
          <button mat-button class="small-icon-button" *ngIf="importDataEntry.importResult != 'DONE'" (click)="searchSimilar()"><mat-icon>refresh</mat-icon></button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <operation-label [operation]="similarOperation"
                         [matMenuTriggerFor]="menu"
                         *ngFor="let similarOperation of importDataEntry.similarOperations">
          <mat-menu #menu>
            <button mat-menu-item (click)="editSimilarOperation(similarOperation)">Edit</button>
            <button mat-menu-item (click)="deleteSimilarOperation(similarOperation)">Delete</button>
          </mat-menu>
        </operation-label>
      </mat-card-content>
    </mat-card>

    <mat-card class="category-mappings">
      <mat-card-header>
        <mat-card-subtitle>
          Category mappings
          <button mat-button class="small-icon-button" *ngIf="importDataEntry.importResult != 'DONE'" (click)="addCategoryMapping()"><mat-icon>add</mat-icon></button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row" *ngFor="let categoryMapping of importDataEntry.matchedCategoryMappings">
          <category-mapping-label [categoryMapping]="categoryMapping"></category-mapping-label>
          <button mat-button class="small-icon-button" (click)="deleteCategoryMapping(categoryMapping.id)"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<mat-progress-bar [value]="progress()"></mat-progress-bar>
