<ng-container *ngIf="documentExpense">
  <mat-icon class="expense">arrow_upward</mat-icon>
  <date-label *ngIf="!hideDate" [date]="documentExpense.date"></date-label>
  <div class="multiline">
    <div class="line">
      <amount-label [amount]="documentExpense.amount"></amount-label>
      <span *ngIf="!hideAccount">{{documentExpense.accountName}}</span>
    </div>
    <div class="line">{{documentExpense.expenseCategoryName}}</div>
  </div>
</ng-container>
<ng-container *ngIf="documentIncome">
  <mat-icon class="income">arrow_downward</mat-icon>
  <date-label *ngIf="!hideDate" [date]="documentIncome.date"></date-label>
  <div class="multiline">
    <div class="line">
      <amount-label [amount]="documentIncome.amount"></amount-label>
      <span *ngIf="!hideAccount">{{documentIncome.accountName}}</span>
    </div>
    <div class="line">{{documentIncome.incomeCategoryName}}</div>
  </div>
</ng-container>
<ng-container *ngIf="documentExchange">
  <mat-icon class="exchange">sync</mat-icon>
  <date-label *ngIf="!hideDate" [date]="documentExchange.date"></date-label>
  <div class="multiline">
    <amount-label [amount]="documentExchange.amountFrom"></amount-label>
    <amount-label [amount]="documentExchange.amountTo" *ngIf="documentExchange.amountFrom.value != documentExchange.amountTo.value"></amount-label>
  </div>
  <div class="multiline">
    <span>{{documentExchange.accountFromName}}</span>
    <span *ngIf="documentExchange.accountFromName != documentExchange.accountToName">{{documentExchange.accountToName}}</span>
  </div>
</ng-container>
