:host {
  align-items: center;
  display: flex;
  gap: 1em;
  height: 5em;
}

.multiline {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.line {
  display: flex;
  gap: .5em;
}

.exchange-row {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
}

mat-icon {
  justify-self: center;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.exchange {
  color: blue;
}
