:host {
  display: grid;
  grid-template-columns: 2.5em repeat(6, min-content);
  grid-gap: 0.5em;
  height: 2.5em;
  align-items: center;
}

mat-icon {
  justify-self: center;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.exchange {
  color: blue;
}
