<ng-container *ngIf="documentExpense">
  <mat-icon class="expense">arrow_upward</mat-icon>
  <span *ngIf="!hideDate">{{documentExpense.date}}</span>
  <div class="multiline">
    <div class="line">
      <amount-label [amount]="documentExpense.amount"></amount-label>
      <span *ngIf="!hideAccount">{{documentExpense.accountName}}</span>
    </div>
    <div class="line">{{documentExpense.expenseCategoryName}}</div>
  </div>
</ng-container>
<ng-container *ngIf="documentIncome">
  <mat-icon class="income">arrow_downward</mat-icon>
  <span *ngIf="!hideDate">{{documentIncome.date}}</span>
  <div class="multiline">
    <div class="line">
      <amount-label [amount]="documentIncome.amount"></amount-label>
      <span *ngIf="!hideAccount">{{documentIncome.accountName}}</span>
    </div>
    <div class="line">{{documentIncome.incomeCategoryName}}</div>
  </div>
</ng-container>
<ng-container *ngIf="documentExchange">
  <mat-icon class="exchange">sync</mat-icon>
  <span *ngIf="!hideDate">{{documentExchange.date}}</span>

  <div class="multiline">
    <div class="line">
      <amount-label [amount]="documentExchange.amountFrom"></amount-label>
      <span>{{documentExchange.accountFromName}}</span>
    </div>
    <div class="line">
      <amount-label [amount]="documentExchange.amountTo"></amount-label>
      <span>{{documentExchange.accountToName}}</span>
    </div>
  </div>
</ng-container>
