@use "../../../../variables";

:host {
  overflow: hidden;
}

mat-tab-group {
  height: 100%;
  overflow: hidden;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.expense {
  color: variables.$expense-color!important;
}

.income {
  color: variables.$income-color!important;
}
