<toolbar-content title="Operation">
  <toolbar-button name="Filter" icon="filter_alt" (click)="openFilter()"></toolbar-button>
</toolbar-content>

<common-layout class="common-layout">
  <mat-action-list *ifHasData="operationService.operationPage.values.length > 0">
    @for (operation of operationService.operationPage.values; track operation.id) {
      <button mat-list-item (click)="action.show(operation.id)">
      <span class="row">
        <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
        <operation-label [operation]="operation"></operation-label>
      </span>
      </button>
    }
  </mat-action-list>

  <mat-paginator [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 [pageSize]="operationService.operationPage.size"
                 [pageIndex]="operationService.operationPage.page"
                 [length]="operationService.operationPage.total"
                 (page)="onPage($event)"></mat-paginator>
</common-layout>

<entry-select #action>
  <entry-item (select)="copy($event); action.close()">Copy</entry-item>
  <entry-item (select)="edit($event); action.close()">Edit</entry-item>
  <entry-item (select)="delete($event); action.close()">Delete</entry-item>
</entry-select>

<fab-group>
  <button mat-fab (click)="add()"><mat-icon>add</mat-icon></button>
</fab-group>
