<div class="marker"
     [class.expense]="isExpense()"
     [class.income]="isIncome()"
     [class.exchange]="isExchange()"></div>
<date-label *ngIf="!hideDate" [date]="operation.date" [disabled]="disabled"></date-label>
<div class="body">
  <amount-label class="amount-from" [amount]="operation.amountFrom"></amount-label>
  <amount-label class="amount-to" [amount]="operation.amountTo"></amount-label>
  <mat-icon class="arrow-icon">arrow_right</mat-icon>
  <div class="account-from">{{operation.accountFrom.name}}</div>
  <div class="account-to">{{operation.accountTo.name}}</div>
</div>
