@use "../../../../variables";

:host {
  align-items: center;
  display: flex;
  gap: 1em;
  cursor: default;
  user-select: none;
  min-width: 16em;
}

:host.disabled {
  filter: grayscale(1);
}

.marker {
  min-width: .2em;
  border-radius: .2em;
  margin-right: .2em;
}

.income {
  background-color: variables.$income-color;
}

.expense {
  background-color: variables.$expense-color;
}

.exchange {
  background-color: variables.$exchange-color;
}

.amount {
  display: flex;
  flex-direction: column;
  min-width: 6em;
}

.account {
  display: flex;
  flex-direction: column;
  gap: .6em;
  line-height: 16px;
  font-size: 12px;

  .name {
    display: flex;
  }
}

