.loading {
  background-color: #00000070;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.left-side {
  width: 30vw;
}

.content {
  display: grid;
  background-color: #bdbdbd;
}
