:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.app-title {
  text-decoration: none;
  color: white;
  &:visited {
    text-decoration: none;
  }
}

.app-version {
  font-size: 0.5em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.loading {
  background-color: #00000070;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.left-side {
  width: 100%;
}

.left-side-narrow {
  width: 30em;
}

.content {
  background-color: #bdbdbd;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content-wide {
  padding: 1em calc((100vw - 40em)/2)!important;
}
