:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.app-title {
  cursor: pointer;
}

.app-version {
  margin-left: 1em;
}

.loading {
  background-color: #00000070;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.left-side {
  width: 30vw;
}

.content {
  background-color: #bdbdbd;
  padding: 1em;
}
