<mat-toolbar color="primary">
  <button mat-icon-button (click)="left.toggle()"><mat-icon>menu</mat-icon></button>
  <a class="app-title" href="/finance-manager">Finance Manager</a>
  <div class="app-version">{{version}}</div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #left position="start" class="left-side">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['account']" (click)="left.close()">Account</a>
      <a mat-list-item [routerLink]="['expense']" (click)="left.close()">Expense</a>
      <a mat-list-item [routerLink]="['income']" (click)="left.close()">Income</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['document']" (click)="left.close()">Document</a>
      <a mat-list-item [routerLink]="['import-data']" (click)="left.close()">Import</a>
      <a mat-list-item [routerLink]="['export-data']" (click)="left.close()">Export</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['exchange-rate']" (click)="left.close()">Exchange rates</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
