<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Filters</mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="settings">
    <mat-form-field>
      <mat-label>Parser</mat-label>
      <reference-input api="/parser/reference" formControlName="parser"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <account-input [types]="['EXPENSE','INCOME']" formControlName="category"></account-input>
    </mat-form-field>
  </form>

  <mat-paginator [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 [pageSize]="categoryMappingPage.size"
                 [pageIndex]="categoryMappingPage.page"
                 [length]="categoryMappingPage.total"
                 (page)="onPage($event)"></mat-paginator>

</mat-expansion-panel>

<mat-card>
  <ng-template #noData>
    <no-data></no-data>
  </ng-template>
  <mat-action-list *ngIf="categoryMappingPage.mappings.length > 0; else noData">
    <button mat-list-item *ngFor="let mapping of categoryMappingPage.mappings" [matMenuTriggerFor]="menu">
      <category-mapping-label [categoryMapping]="mapping" [hideParser]="settings.value.parser != null"></category-mapping-label>
      <mat-menu #menu>
        <button mat-menu-item (click)="edit(mapping.id!)">Edit</button>
        <button mat-menu-item (click)="delete(mapping.id!)">Delete</button>
      </mat-menu>
    </button>
  </mat-action-list>
</mat-card>

<fab-group>
  <button mat-fab (click)="add()"><mat-icon>add</mat-icon></button>
</fab-group>
