:host {
  display: flex;
  align-items: center;
}

.label {
  margin-left: .5em;
}

.unknown {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.cf,
.fi {
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
