:host {
  display: grid;
  grid-gap: 1em;
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;

  .title {
    font-size: 1.5em;
  }
}

mat-list-item {
  height: 4em!important;
}

.card-title {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
}

.suggested {
  display: grid;
  justify-content: center;
  align-content: center;
}

form {
  display: grid;
  grid-gap: 1em;
}

.entry {
  display: grid!important;
  grid-template-columns: min-content 1fr;
  align-items: center;

  mat-checkbox {
    margin: 0 1em;
  }
}
