html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-line-with-menu {
  display: grid!important;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.fab {
  position: fixed!important;
  bottom: 1rem;
  right: 1rem;
}

.hide {
  opacity: 0;
}

.omit {
  display: none;
}

.spacer {
  flex-grow: 1;
}

.small-icon-button {
  padding: 0!important;
  min-width: 32px!important;

  mat-icon {
    margin: 0!important;
  }
}
