html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-line-with-menu {
  display: grid!important;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.fab {
  position: fixed!important;
  bottom: 1rem;
  right: 1rem;
}

.hide {
  opacity: 0;
}

.spacer {
  flex-grow: 1;
}

.card-content-form {
  padding-bottom: 0!important;

  form {
    display: grid;
    grid-auto-flow: row;
  }
}
