<toolbar-content>
  <toolbar-button name="Filter" icon="filter_alt" (click)="openFilter()"></toolbar-button>
  <toolbar-button name="Sort" icon="sort" (click)="openSort()"></toolbar-button>
</toolbar-content>

<table mat-table [dataSource]="dataSource" *ifHasData="hasData">

  <ng-container [matColumnDef]="field" *ngFor="let field of fields">
    <th mat-header-cell *matHeaderCellDef>{{field}}</th>
    <td mat-cell *matCellDef="let value">{{value[field]}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="fields"></tr>
  <tr mat-row *matRowDef="let value; columns: fields"></tr>

</table>

<mat-paginator [hidePageSize]="true"
               [showFirstLastButtons]="true"
               [pageSize]="page.size"
               [pageIndex]="page.page"
               [length]="page.total"
               (page)="onPage($event)"></mat-paginator>

<entry-select>
  <entry-item (select)="edit()">Edit</entry-item>
  <entry-item (select)="delete()">Delete</entry-item>
</entry-select>

<fab-group>
  <button mat-fab (click)="add()"><mat-icon>add</mat-icon></button>
</fab-group>
