<mat-card>
  <mat-card-header class="browser-header">
    <mat-card-title>Mapping</mat-card-title>
    <button mat-icon-button (click)="load()"><mat-icon>done</mat-icon></button>
  </mat-card-header>
</mat-card>

<mat-expansion-panel #filter>
  <mat-expansion-panel-header>
    <mat-panel-title>Filters</mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="settings">
    <mat-form-field>
      <mat-label>Parser</mat-label>
      <reference-input api="/parser/reference" formControlName="parser"></reference-input>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select formControlName="category">
        <mat-option [value]="null">Nothing</mat-option>
        <mat-optgroup label="Expenses">
          <mat-option *ngFor="let expenseCategory of expenseCategories" [value]="expenseCategory.id">{{expenseCategory.name}}</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Incomes">
          <mat-option *ngFor="let incomeCategory of incomeCategories" [value]="incomeCategory.id">{{incomeCategory.name}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-paginator [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 [pageIndex]="categoryMappingPage.page"
                 [length]="categoryMappingPage.total"
                 (page)="onPage($event)"></mat-paginator>

</mat-expansion-panel>

<mat-card *ngIf="categoryMappingPage.mappings.length > 0">
  <mat-action-list>
    <button mat-list-item *ngFor="let mapping of categoryMappingPage.mappings" [matMenuTriggerFor]="menu">
      <category-mapping-label [categoryMapping]="mapping" [hideParser]="settings.value.parser != null"></category-mapping-label>
      <mat-menu #menu>
        <button mat-menu-item (click)="edit(mapping.id)">Edit</button>
        <button mat-menu-item (click)="delete(mapping.id)">Delete</button>
      </mat-menu>
    </button>
  </mat-action-list>
</mat-card>

<button class="fab" mat-fab (click)="add()">
  <mat-icon>add</mat-icon>
</button>
