:host {
  display: grid;
  justify-items: center;
  height: 100%;
  color: gray;
  opacity: .5;
}

.icon {
  align-self: end;
  font-size: 200px;
  height: 200px;
  width: 200px;
}

.label {
  align-self: start;
}
