<mat-card class="toolbar">
  <div class="title">Documents for replace</div>
  <button mat-icon-button (click)="save()">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-card>

<mat-card>
  <form [formGroup]="filter">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="date" readonly (click)="date.open()">
      <mat-datepicker touchUi #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Account</mat-label>
      <reference-input api="/account/reference" formControlName="account"></reference-input>
    </mat-form-field>
  </form>
</mat-card>

<mat-card *ngIf="documents.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let document of documents">
      <div matLine class="entry">
        <mat-checkbox [checked]="isDocumentSelected(document)" (change)="selectDocument(document, $event.checked)"></mat-checkbox>
        <document-label [document]="document"></document-label>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
