name: Build

concurrency: build

on:
  push:
    branches:
      - master

env:
  PROJECT_NAME: finance-manager
  PROJECT_VERSION: 3.0.${{ github.run_number }}

jobs:

  build:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      - name: Checkout-
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Build Server
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: bootJar
          build-root-directory: ./server

      - name: Build Web
        working-directory: ./web
        run: |
          npm ci
          npm run build

      - name: Build Docker images
        run: |
          docker build -t joltd/${{ env.PROJECT_NAME }}:server-${{ env.PROJECT_VERSION }} ./server
          docker build -t joltd/${{ env.PROJECT_NAME }}:web-${{ env.PROJECT_VERSION }} ./web

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to Docker Hub
        run: |
          docker push joltd/${{ env.PROJECT_NAME }}:server-${{ env.PROJECT_VERSION }}
          docker push joltd/${{ env.PROJECT_NAME }}:web-${{ env.PROJECT_VERSION }}

      - name: Prepare Docker Compose
        run: |
          sed -e 's/3.0.0-SNAPSHOT|${{ env.PROJECT_VERSION }}|' \
          -e 's/localhost:5432|${{ secrets.DB_HOST }}|' \
          -e 's/root_user|${{ secrets.DB_USER }}|' \
          -e 's/root_password|${{ secrets.DB_PASSWORD }}|' \
          -e 's/security_secret|${{ secrets.SECURITY_SECRET }}|' \
          -e 's/free_currency_api_key|${{ secrets.FREE_CURRENCY_API_KEY }}|' \
          -e 's/open_exchange_app_id|${{ secrets.OPEN_EXCHANGE_APP_ID }}|' \
          -e 's/exchange_rate_api_key|${{ secrets.EXCHANGE_RATE_API_KEY }}|' \
          -e 's/coin_gecko_api_key|${{ secrets.COIN_GECKO_API_KEY }}|' \
          -e 's/open_ai_api_key|${{ secrets.OPEN_AI_API_KEY }}|' \
          -i docker-compose.yml

      - name: Send Docker Compose file
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_PRIVATE_KEY }}
          source: docker-compose.yml
          target: ~/build/${{ env.PROJECT_NAME }}

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_PRIVATE_KEY }}
          script: |
            cd ~/build/${{ env.PROJECT_NAME }}
            docker compose pull server web
            docker compose up -d

      - name: Delete old images
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_PRIVATE_KEY }}
          script: |
            docker images --format '{{.Repository}}:{{.Tag}}' \
              | grep '^joltd/${{ env.PROJECT_NAME }}' \
              | grep -v -f <(docker ps -a --format '{{.Image}}') \
              | xargs -r docker rmi